<div class="count">
  <div class="decks">
    <div class="top">
      <h2>Decks</h2>

      <div class="button-top">
        <button class="but" (click)="goToCreate()">Novo Deck</button>
        <button class="but">Importar Deck</button>
      </div>
    </div>
    @for (folder of folders; track folder.name) {
      <div class="folder">
        <div class="folder-header" [class.open]="folder.open" (click)="toggleFolder(folder)">
          {{ folder.name }}
        </div>

        <div class="deck-list" [@accordion]="folder.open ? 'open' : 'closed'">
          @for (deck of folder.decks; track deck.id) {
            <div class="deck" (click)="openDeck(deck.id)">
              {{ deck.name }}
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>

@if (showModal) {
  <div class="modal" (click)="closeModal()">
    <app-mode-modal (selected)="onModeSelected($event)" (click)="$event.stopPropagation()">
    </app-mode-modal>
  </div>
}
