.count {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background-color: #333;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: Lato, sans-serif;
}

h2 {
  color: white;
  padding-top: 10px;
}

h3 {
  color: white;
  padding-top: 10px;
}

.newDeck {
  width: 60%;
  height: min(80vh);
  display: flex;
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
  background-color: #2fa4a9;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.newDeck input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  backdrop-filter: blur(5px);
}

/* Placeholder */
.newDeck input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Focus */
.newDeck input:focus {
  background: rgba(255, 255, 255, 0.3);
}

.newDeck select {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
}

.newDeck option {
  background: #2fa4a9;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.newDeck select.decorated option:hover {
  box-shadow: 0 0 10px 100px #1882a8 inset;
  background-color: #1882a8;
}

.newDeck .flashcards {
  overflow: auto;
}

.newDeck .card-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.newDeck textarea {
  width: 48%;
  height: 50px;
  padding: 12px 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  backdrop-filter: blur(5px);
}

.newDeck .flashcards button {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  height: max-content;
}

.newDeck .buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin-top: 20px;
}

.newDeck .save {
  margin-left: 10px;
}

button {
  padding: 17px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  background-color: #3bbdc0;
  box-shadow: rgba(47, 164, 169, 0.4) 0px 0px 0px 0px;
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(4px);
}

/* scrool */

.count ::-webkit-scrollbar {
  width: 10px;
  background: #00000000;
}

.count ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  border: 4px solid #00000000;
  background: #ffffff;
}

/* fundo */

.count ::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #00000000;
}
